test/images/**
test/masks/**

val/images/**
val/masks/**

train/images/**
train/masks/**

modelsave/**

wandb
slurm

utils/__pycache__
*.DS_Store
*.JPG

/modelsave/**
/slurm

/try
*.log
*.wandb
.venv
.DS_Store
*.pth
*.jpg
*.pyc

*.ipynb_checkpoints
*.pyc
